---
import Copyright from "./Copyright.astro";
---

<nav>
  <a href="/">Hjem</a>
  <a href="/kontakt">Kontakt</a>
  <a href="/vilkaar-og-personvern">Vilkår og personvern</a>
</nav>

<Copyright />

<style>
  nav {
    margin-block-end: 1em;
  }
</style>
